
html, body {
    padding:0;
    margin:0;
  }
  
  svg {
    width:32px;
    height:32px;
    fill:#fff;
  }
  
  .about__section {
    max-width:960px;
    margin:auto;
    display:flex;
    justify-content:center;
    position:relative;
    padding-top:50px;
    flex-wrap:wrap;
    
  }
  
  .about__section .about__slot {
    width:33%;
    box-sizing: border-box;
margin-top:20px;
    /*border:1px solid #ccc;*/
    border-right:none;
    border-top:none;
    height:15vw;
    min-height:300px;
    min-width:220px;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    cursor:pointer;
    position:relative;
    background-size:0% auto;
    -webkit-transition:all 0.3s linear;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
  }
  
  .about__slot .bioText {
    opacity:0;
    color:rgba(242,242,242,0);
    pointer-events:none;
    position:absolute;
    top:350px;
    left:0;
    right:0;
    padding:10%;;
    padding-top:25px;
    padding-bottom:25px;
    width:80%;
    height:0;
    -webkit-transition:all 0.3s linear;
    margin:auto;
  }
  
  .about__slot.bio .about__info {
    top:0px;
    bottom:240px;
    background-color:rgba(0,0,0,0.82);
    box-shadow:inset 0px -5px 10px 0 rgba(0,0,0,1);
  }
  
  .about__slot.bio .bioText  {
    opacity:1;
    border-radius:0;
   position:absolute;
    top:50px;
    padding-top:200px;
    left:0;
    right:0;
    bottom:0;
    width:80%;
    height:250px;
    color:rgba(255,255,255,1);
    background-color:rgba(42,42,42,0.7);
    z-index:8;
    margin:auto;
    font-family:sans-serif;
    overflow:auto;
  }
  
  .about__slot .about__info {
    position:absolute;
    left:0;
    bottom:0;
    top:225px;
    right:0;
    pointer-events:none;
    z-index:9;
    -webkit-transition:all 0.3s linear;
    
  }
  /*BOOM */
  .about__slot .headshot {
    margin:auto;
    margin-top:19px;
    width:172px;
    height:172px;
    /*border:10px double #424242;*/
    background-size:200px 200px;
    background-position:center 15%;
    border-radius:100%;
    box-shadow:0px 2px 10px 2px rgba(0,0,0,0.42);
    -webkit-transition:all 0.1s ease-in-out;
  }
  
  .about__slot.bio .headshot {
    -webkit-filter:blur(3px);
    opacity:1;
    width:100%;
    height:300px;
    border-radius:0;
    margin-top:0;
    background-size:375px 375px !important;
    border:0;
    top:0;
    left:0;
    bottom:0;
    right:0;
  
  }
  
  .about__slot .name {
    font-family:"Typo Grotesk",sans-serif;
    font-size:20px;
    font-weight:800;
    color:#424242;
    margin-bottom:0px;
    margin-top:10px;
    -webkit-transition:all 0.3s linear;
  }
  
  .about__slot .title {
     font-family:"Typo Grotesk",sans-serif;
    font-size:16px;
    font-weight:300;
    margin-top:5px;
    color:#ccc;
    -webkit-transition:all 0.3s linear;
  }
  
  .about__slot.bio .name {
    color:#f5f5f5;
  }
  
  .about__section .about__slot:hover .headshot {
    opacity:1;
    width:100%;
    height:300px;
    border-radius:0;
    margin-top:0;
    background-size:325px 325px;
    border:0;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }
  
  .about__section .about__slot:hover .name {
    color:#f5f5f5 !important;
  }
  
  .about__section .about__slot:hover .about__info {
      background-color:rgba(0,0,0,0.42);
  }
  