@font-face {
  font-family: "boldsh";
  src: url("/assist/fonts/Grold-ExtraBlack.ttf") format("truetype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  max-width: 1500px;
  margin: auto;
  overflow-x: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.header {
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  -webkit-box-shadow: 0px 1px 0px 0px gray;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header a {
  float: left;
  color: #d4d4d4;
  text-align: right;
  padding: 2px;
  text-decoration: none;

  display: grid;
  place-items: center;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  justify-content: center;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #1f1f1f;
  display: grid;
  place-items: center;
  margin-right: 10px;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: auto infinite;
  animation-timing-function: ease-in-out;



}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.right_forsec1 {
  width: 100vh;
}
.right_sec1_ad {
  display: flex;
  background: green;
  width: 250px;
  border-radius: 25px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
.right_sec1_ad_text {
  display: grid;
}
.svg_right_sec1_ad {
  background: #000;
  padding: 7px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_style_priority {
  height: 60px;
  width: 170px;
  background-color: red;
  border-radius: 40px;
  border: 2px solid #12121208;
  display: inline-block;
}

.container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.overlayer_upper {
  position: absolute;
  bottom: 0;
  right: 0;

  height: 340px;
  width: 300px;
  object-fit: cover;
  z-index: 6;
}

.bounce {
  position: relative;
  box-sizing: border-box;
  object-fit: contain;

  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.card {
  background-color: rgb(38, 38, 38);
  border-radius: 11px;
  height: 200px;
  width: 200px;
  opacity: 0.8;
  position: relative;
}
.dot_spot {
  display: flex;
  justify-content: center;
  gap: 3px;
}
.card_image {
  height: 100px;
  width: 100%;
  margin-top: -30px;
  margin-left: 70px;
  border-radius: 11px 11px 0px 0px;
  display: flex;
  justify-content: left;
  z-index: 5;
  margin-bottom: 10px;
}
.card_image_inner {
  margin-top: 20px;
}
.card_image2 {
  height: 100px;
  width: 100%;
  margin-top: -90px;

  border-radius: 11px 11px 0px 0px;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 10px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card_image3 {
  height: 100px;
  width: 100%;

  margin-top: -150px;
  margin-left: 20px;
  border-radius: 11px 11px 0px 0px;
  display: flex;
  justify-content: left;
  z-index: 2;
  margin-bottom: 10px;
}
.inner_card {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.p_card_announce {
  color: yellow;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px;
  text-align: left;
  gap: 5px;
  display: flex;
}
.dot_animated {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: pulse 2s infinite;
  position: relative;
  margin-top: 3px;
  gap: 3px;
  left: 0;
  display: flex;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.search_bar {
  height: 40px;
  border-radius: 11px;
  padding: 4px;
  width: 250px;
  background-color: #121212;
  color: #ffffff;
}
.search_btn {
  border-radius: 11px;
  height: 40px;
  width: 40px;
}

.pointer {
  cursor: pointer;
}

.boujee_text {
  color: #3c3c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  font-size: 2rem;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.boujee_text p {
  font-weight: bold;
  margin: 0px;
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
text-align: center;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
