.sec3{
    width: 100%;
    height: 100%;
  
    margin-top: 5rem;
}
.sec3_main_container_title{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: boldsh,'Montserrat', sans-serif;
    width: 100%;
    margin: 0 auto;
    gap: 0.5rem;
}

.sec3_main_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;

}
.svg_contaoner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.svg_property{
    height:70px;
    width: 70px;
    margin: 0 auto;
    filter: invert(100%);
    filter: grayscale(100%);
    color: white;
}